<%

const hardSkills = [
	'MS_Project',
	'Outlook',
	'Excel',
	'Matlab',
	'CSS',
	'Python'
	];

	hardSkills.forEach(skill => { %>
		<div class="form-group">
			<label><%= skill %></label>
			<input class="form-control" type="range" list="tickmarks" min="1" max="10" value="1" name=<%= skill%> >
			<output for=<%= skill%> >1</output>
		</div><!--end form-group-->
<% }); %>
